.javaScript{
    height: 400px;
    text-align: left;
}

.textCode{
    text-align:left;
    width: 100%;
    height: 300px;
}
.pageSharing{
   display: block;
}
h2{
    color: bisque;
}